{% extends 'home/base.html' %}
{% load static %}

<html>
  <head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% block title %}
    <title>GetHealthy with us!</title>
    {% endblock title %}
    {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    {% endblock style %}
  </head>
  <body>
    {% block content %}
    {% for message in messages %}
        {% if isvalid %}
        <div class="alert alert-success">
        {% else %}
        <div class="alert alert-danger">
        {% endif %}
        <a class="close" data-dismiss="alert">×</a>
        {{ message }}
        </div>
        {% endfor %}
  	<div class="aboutus">
    	<img id="cartoondoc" src="{% static 'home/new.jpg' %}" class="cartoondoc">
    	<p id="aboutus">GetHealthy is a website that was made in hope to raise awareness about Covid-19 Pandemic that is currently happening all around the world. We provide features for you to get consultation with our highly-skilled doctors, alongside with news and tips to get you protected from Covid-19.</p>
    </div>

    <div class="row ourdoctors">
    	<div class="col-md-6 desc">
    		<a href="/doctor"><p id="ourdoctors">OUR DOCTORS</p></a>
    		<hr class="line">
    		<p class="docdesc">Our highly-skilled doctors are equipped with a diverse set of experiences to serve the needs of our diverse patients.</p>
    		<p class="book">BOOK CONSULTATION</p>
    		<a href="/schedule"><button type="button" class="buttonku">BOOK</button></a>
    	</div>
    	<div class="col-md-5 doctors">
	    	<a href="/doctor"><img src="{% static 'home/dokter.jpg' %}" class="doctors"></a>
    	</div>
    </div>

    <div id="carouselContent" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
        {% for isi in data %}
        {% if forloop.first %}
            <div class="carousel-item active">
                {% if isi in news %}
                <a href="{% url 'article:news' slug=isi.slug %}">
                {% elif isi in tnt %} 
                <a href="{% url 'article:tipsandtrick' slug=isi.slug %}">
                {% endif %}
                {% if isi.image %}
                <img src="{{ isi.image.url }}" class="d-block w-100">
                {% endif %}
                <div class="container">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="carouselTitle">{{isi.title}}</p>
                    </div>
                </div>
                </a>
            </div>
        {% else %}
            <div class="carousel-item">
                {% if isi in news %}
                <a href="{% url 'article:news' slug=isi.slug %}">
                {% elif isi in tnt %} 
                <a href="{% url 'article:tipsandtrick' slug=isi.slug %}">
                {% endif %}
                {% if isi.image %}
                <img src="{{ isi.image.url }}" class="d-block w-100">
                {% endif %}
                <div class="carousel-caption d-none d-md-block">
                    <p class="carouselTitle">{{isi.title}}</p>
                </div>
                </a>
            </div>
        {% endif %}
        {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class= "improve-page">
        <p id=improve-text>HELP US IMPROVE OUR PAGE</p>
        <form method='POST' class="suggestion">
            {% csrf_token %}
            {{ form.as_p }}

        <input type="submit" class="buttonku form" value="Submit">
        </form>
    </div>
    {% endblock content %}
</body>
</html>