
{% load static %}
{% load crispy_forms_tags %}


    <!-- Custom CSS for this particular html -->
    <style>
        .content {
            text-align: center;
            margin-left: 30%;
            margin-right: 30%;
        }
    </style>


<div class="content" style="padding-top:65px; min-height:100%;">
    <br><br>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Register</button>
    </form>
    <br><br>
</div>
