{% extends 'home/base.html' %}
{% load static %}
<!-- <!DOCTYPE html>
<html>
<head> -->
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Book a Schedule</title>
	{% block style %}
	<style type="text/css">
		/* Html reset and font customizing */

		header, body, html {
			font-family: 'Lato', sans-serif !important;
		    margin: 0;
		    padding: 0;
		}

		/* Text */

		h1, h2, h3, h4, .description>p {
			color: #33726D !important;
			font-weight: 700;
		}

		/* Description */

		.description {
			margin-bottom: 50px;
		}

		.description p {
			font-size: 18px;
		}

		/* Choices */

		.card-header {
			background-color: #fff !important;
		}

		.choices, .card-header {
			display: flex;
		}

		.card-header a {
			display: flex;
		}

		.card-header a.time {
			flex: 3;
			margin-left: 10px;
			text-decoration: none;
			font-weight: 700;
		}

		.card-header a.doctor {
			flex: 1;
			text-decoration: none;
			color: #154440;
			font-weight: 700;
		}

		.card-header a.doctor:hover {
			text-decoration: underline;
		}

		.card-body a {
			position: relative;
			left: 10px;
		}

		.btn-genoa {
		  color: #fff;
		  background-color: #33726D;
		  border-color: #33726D;
		}

		.btn-genoa:hover {
		  color: #fff;
		  background-color: #1e7057;
		  border-color: #1c5a48;
		}

		.btn-genoa:focus, .btn-genoa.focus {
		  color: #fff;
		  background-color: #1e7057;
		  border-color: #1c5a48	;
		  /*box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);*/
		}

		.not-available {
			text-align: center;
			line-height: 45px;
			height: 50px;
			background-color: #eaeaea !important;
			font-weight: 700;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{% static 'Schedule/bookingpage.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
	{% endblock %}
<!-- </head>
<body> -->
	{% block content %}
	<div class="container mt-4 mb-5">

		<!-- Page Description -->
		<div class="description">
			<h1>BOOK A SCHEDULE</h1>
			<p>Having a conversation with a doctor helps you to overcome what has been bothering you about your health. Consult your problem here with our doctors.</p>
		</div>

		<!-- Booking Section -->
		<div class="accordion" id="booking-option">
			{% for day, hours in schedule.items %}
				<h4>{{ day }}</h4>
				<div class="my-3">
				{% for eachHour in hours %}
					<div class="card border-right-0 border-left-0 border-bottom-0">
					    <div class="card-header" id="heading_{{ eachHour.id }}">
				          	<a class="stretched-link time" data-toggle="collapse" data-parent="#booking-option" href="#collapse_{{ eachHour.id }}">
				          		{{ eachHour.hour }}
				          	</a>
				          	<a href="/doctor/{{ eachHour.day.doctor.id }}" class="doctor">
				          		{{ eachHour.day.doctor.name }}
				          	</a>
						</div>
						<div id="collapse_{{ eachHour.id }}" class="collapse" aria-labelledby="heading_{{ eachHour.id }}" data-parent="#booking-option">
					      	<div class="card-body">
					        	<a type="button" class="btn btn-genoa" href="booking_form/{{ eachHour.id }}">Book</a>
					      	</div>
					    </div>
					</div>
				{% empty %}
					<div class="card not-available">
						Sorry, there is no schedule available on this day.
					</div>
				{% endfor %}
			{% endfor %}
			</div>
		</div>

	</div>
	


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
<!-- </body>
</html> -->